.toolbar {
  width: 100%;
  height: 5rem;
  position: sticky;
  top: 0;
  left: 0;
<<<<<<< HEAD
=======
  padding: 0 1.5rem 0 1.5rem;
>>>>>>> minimalistic-storefront__ext__endpoint/main
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  z-index: 200;
}

<<<<<<< HEAD
.toolbar__nav {
  height: 100%;
=======
.toolbar__desktop-nav {
  display: none;
>>>>>>> minimalistic-storefront__ext__endpoint/main
}

.cart-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
<<<<<<< HEAD
  padding-right: 6rem;
  width: 13rem;
=======
}

@media (min-width: 768px) {
  .toolbar {
    padding: 0;
  }
  .toolbar__desktop-nav {
    display: unset;
    height: 100%;
  }

  .cart-actions {
    width: 13rem;
    padding-right: 6rem;
  }
>>>>>>> minimalistic-storefront__ext__endpoint/main
}
