.section {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  gap: 3rem;
}

.shipping-form__wrapper {
  max-width: 450px;
}

.section h1 {
  margin-top: 0;
}

@media (min-width: 576px) {
  .section {
    display: grid;
    grid-template-columns: 40% auto;
    justify-content: space-between;
  }
}
