.hr--horizontal {
  margin-bottom: 48px;
}

.order-details {
  max-width: 220px;
  margin: 0 auto;
}

.order-detail__heading,
.order-detail__value {
  text-align: center;
}

.order-detail__heading {
  border-bottom: 1px solid #e5e5e5;
}

.order-detail__value {
  line-height: 1.3;
}

.order-detail__value span b {
  font-weight: 400;
}

.order-detail__button {
  display: block;
  margin: 0 auto;
  border: none;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
}

.order-detail__button:hover,
.order-detail__button:active {
  color: #5ece7b;
  cursor: pointer;
  font-weight: 700;
}

.actionButtons {
  margin-top: 48px;
}

@media (min-width: 481px) {
  .order-details {
    max-width: none;
    display: grid;
    grid-template-columns: 45% auto auto;
  }

  .order-details > .order-detail:not(:last-child) {
    border-right: 1px solid #e5e5e5;
  }

  .order-detail {
    padding: 0 4px;
  }

  .order-detail__heading {
    border: none;
    width: 50%;
    margin: 1.33em auto;
    line-height: 1.3;
  }
}

@media (min-width: 590px) {
  .order-detail__heading {
    width: 100%;
  }
}

@media (min-width: 769px) {
  .wrapper {
    display: grid;
    grid-template-columns: 65% 5% auto;
    gap: 16px;
  }

  .hr--vertical {
    width: 1px;
    height: 100%;
    margin: 0 auto;
  }

  .order-details {
    grid-template-columns: 50% 25% auto;
    max-width: 700px;
  }
}

@media (min-width: 1025px) {
  .order-details {
    grid-template-columns: repeat(3, 33%);
  }
}

@media (min-width: 1201px) {
  .wrapper {
    justify-content: space-between;
  }
}
