.cart-page__hr {
  margin: 2rem 0 1.5rem 0;
}

.cart-page__item {
  display: flex;
  flex-direction: column;
}

.column-wrapper {
  width: 100%;
  max-width: 18.75rem;
  order: 2;
}

.product-details__title {
  margin: 0;
}

.title__item {
  font-size: 1.875rem;
  line-height: 1.69rem;
}

.title__brand {
  display: block;
  font-weight: 600;
  margin-bottom: 1rem;
}

.title__name {
  font-weight: 300;
}

.product-details__price {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 1.25rem 0;
}

.column-wrapper--cart-actions {
  height: 16.2rem;
  width: 100%;
  max-width: 18.75rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  order: 1;
}

.cart-actions {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cart-actions__button {
  height: 2.8rem;
  width: 2.8rem;
  border: 1px solid #1d1f22;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cart-actions__quantity {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.4rem;
}

.image-container {
  position: relative;
}

.image-container__image {
  height: 16.2rem;
  width: 11.25rem;
  object-fit: contain;
}

.image-container__scrolling-arrows {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  gap: 0.5rem;
}

@media (min-width: 360px) {
  .column-wrapper--cart-actions {
    height: 18rem;
    order: 1;
  }

  .image-container__image {
    height: 18rem;
    width: 12.5rem;
  }
}

@media (min-width: 550px) {
  .cart-page__item {
    flex-direction: row;
    justify-content: space-between;
  }

  .column-wrapper {
    width: 35%;
    order: 1;
  }

  .column-wrapper--cart-actions {
    margin-bottom: 0;
    width: auto;
    gap: 0.5rem;
  }
}

@media (min-width: 768px) {
  .column-wrapper--cart-actions {
    gap: 1.5rem;
  }
}
