.mini-cart {
  width: 100%;
  max-height: 42rem;
  position: absolute;
  top: 5rem;
  left: 0;
  background-color: #fff;
  padding: 2rem 1rem;
  overflow-y: auto;
}

.mini-cart--open {
  animation: MiniCartOpen 0.3s ease-out forwards;
  opacity: 1;
  transform: translateY(0);
}

.mini-cart--closed {
  animation: MiniCartClosed 0.3s ease-out forwards;
}

@keyframes MiniCartOpen {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes MiniCartClosed {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-3rem);
  }
}

.mini-cart__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.6rem;
}

.title__items-count {
  font-weight: 500;
}

.mini-cart__total-price {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.total-price__text {
  font-weight: 500;
  font-family: "Roboto Condensed", sans-serif;
}

.total-price__price {
  font-weight: 700;
}

.mini-cart__actions {
  display: flex;
  justify-content: space-between;
}

.actions__button {
  display: flex;
  align-items: center;
  height: 2.5rem;
  font-size: 0.875rem;
}

.actions__button--transparent {
  border: 1px solid #1d1f22;
  color: #1d1f22;
  background-color: transparent;
}

.actions__button--transparent:hover {
  color: #fff;
  background-color: #1d1f22;
  border: 1px solid transparent;
}

.actions__button--green {
  color: #fff;
  background-color: #5ece7b;
  border: 1px solid transparent;
}

.actions__button--green:hover {
  background-color: transparent;
  color: #5ece7b;
  border: 1px solid #5ece7b;
}

@media (min-width: 360px) {
  .mini-cart {
    width: 21rem;
  }
}

@media (min-width: 450px) {
  .mini-cart {
    right: 4.5rem;
    left: auto;
  }
}
