.navigation-items {
  list-style: none;
  margin: 0;
<<<<<<< HEAD
  display: flex;
  padding-left: 7rem;
  height: 100%;
=======
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20%;
}

@media (min-width: 768px) {
  .navigation-items {
    padding-left: 7rem;
    flex-direction: row;
    justify-content: unset;
    height: 100%;
  }
>>>>>>> minimalistic-storefront__ext__endpoint/main
}
