@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&family=Roboto+Condensed:wght@400;700&family=Source+Sans+Pro&display=swap");
* {
  box-sizing: border-box;
  color: #1d1f22;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #dedfe4 transparent;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #dedfe4;
  border: 3px solid #dedfe4;
  border-radius: 10px;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}
