.actions-wrapper {
  display: flex;
  gap: 1rem;
}

.actions-wrapper__button {
  width: 50%;
  background-color: #5ece7b;
  border: 1px solid transparent;
  color: #fff;
  margin-top: 1.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  white-space: nowrap;
  transition: all 0.25s;
}

.actions-wrapper__button:hover,
.actions-wrapper__button:active {
  border: 1px solid #5ece7b;
  background-color: #fff;
  color: #5ece7b;
}

@media (min-width: 481px) {
  .actions-wrapper__button {
    font-size: 0.875rem;
  }
}
