.backdrop--transparent {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.transparent--open {
  animation: transparentOpen 0.3s ease-out forwards;
}

.transparent--closed {
  animation: transparentClosed 0.3s ease-out forwards;
}

@keyframes transparentOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes transparentClosed {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
