.main {
  scale: 0.5;
}

.tick {
  opacity: 0;
  fill: #1b9d62;
}

.fade-appear {
  opacity: 0;
  /* transform: scale(0.1); */
  fill: yellow;
  transition: all 1.5s;
  /* transform: translate(-114 -204); */
}

.fade-enter {
  opacity: 1;
  /* transform: scale(0.5); */
  fill: orange;
  transition: all 1.5s;
  /* transform: translate(-114 -204); */
}

.fade-enter-done {
  opacity: 1;
  /* transform: scale(1); */
  fill: red;
  transition: all 1.5s;
  /* transform: translate(-114 -204); */
}

/* fill="#1b9d62" */

/* @keyframes fadeIn {
} */
