.shopping-bag-icon {
  /* scale: 0.5; */
}

.tick {
  opacity: 0;
  fill: #1b9d62;
  transform: translate(-114px, -204px);
}

.fadeIn-appear {
  opacity: 0.1;
  transition: opacity 0.15s;
}

.fadeIn-enter-done {
  opacity: 1;
  transition: opacity 0.15s;
}

/* .shopping-bag-icon {
  scale: 0.3;
} */
